{% extends 'base.html.twig' %}

{% block title %} Writer | Page de Contact {% endblock %}
{% set aside = "not" %}

{% block header %}
    {{ include('header/header.html.twig', {name : "Contacte Moi"})}}
{% endblock %}
{% block body %}

<div class="row ">
<div class="col-lg-8 col-lg-offset-2">
    {{ form_start(contact) }}
    {% for message in app.session.flashBag.get("message") %}
        <div class="alert {{ app.session.get("status") }}">{{ message }}</div>
    {% endfor %}
    {{ form_end(contact) }}
</div>
</div>

{% endblock %}
